body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;  
    background-image: url(./image/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #f5f5f5 ;
}
#mob-btn{
    display: none;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1rem;
}
nav > #left > h1{
    color: white;
    font-size: 1rem;
}
nav > #left > h1 > span{
    font-weight: 100;
    color: cornsilk;
}
#right-cont{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#right-cont > li > a{
    text-decoration: none;
    padding: 1.5rem;
    display: block;
    color: white;
    font-size: 1.1rem;
}
#right-cont a button{
    color: white;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid white;
    padding: 5px 15px;
}
#menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    position: absolute;
    top: 100%;
    right: 0%;
    width: 200%;
    display: none;
}
#drop{
    position: relative;
}
#drop:hover #menu{
    display: block;
}
#menu > li > a{
    text-decoration: none;
    color: grey;
    padding: 1rem;
    display: block;
    border-bottom: 2px solid rgb(223, 221, 221);
}
#menu > li > a:hover{
    background-color: orange;
    color: white;
    
}
#menu1{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    position: absolute;
    top: 0%;
    right: 100%;
    width: 100%;
    display: none;
}
#drop1{
    position: relative;
}
#drop1:hover #menu1{
    display: block;
}
#menu1 > li > a{
    text-decoration: none;
    color: grey;
    padding: 1rem;
    display: block;
    border-bottom: 2px solid rgb(223, 221, 221) ;
}
#menu1 > li > a:hover{
    background-color: orange;
    color: white;
    
}
#alpha{
    text-align: center;
    color: white;
    margin-top: 5rem;
}
#alpha > h1{
    font-size: 3.5rem;
    margin-bottom: 0px;
}
#alpha > p{
    font-size: 1rem;
    margin-bottom: 2rem;
}
#alpha > button{
    width: 10rem;
    padding: 12px;
    border-radius: 5px;
    margin-right: 1rem;
}
#button1{
    border: 2px solid white;
    color: gray;
}
#button2{
    border: 2px solid white ;
    background-color: transparent;
    color: white;
}
#intro{
    background-color: white;
    width: 70%;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    padding-top: 2rem;
    margin-top: 8rem; 
}
#intro>h1{
    font-size: 2rem;
    color: gray;
}
#intro > p{
    border-top: 1px solid gray;
    width: 60%;
    margin: auto;
    font-size: 13px;
    padding-top: 2rem;
    color: gray;
}
#intro > img{
    width: 100%;
    margin-top: 2rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#signup{
    margin-top: 10px;
    text-align: center;
    background-color: #e89980 ;
    margin-bottom: 5rem;
    padding-bottom: 5rem;
}
#signup > h1{
    padding-top: 3rem;
    color: white;
    font-size: 2rem;
    padding-bottom: 10px;
}
#signup > p{
    color: white;
    font-size: 1rem;
    padding-bottom: 15px;
}
#signup > input{
    width: 25%;
    height: 2.4rem;
    border: none;
    background-color: #eba893;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 1rem;
}
input::placeholder{
    color: white;
}
#signup > button{
    width: 10%;
    height: 2.4rem;
    border: none;
    border-radius: 5px;
    color: #edae94;
    font-size: 15px;
}
#top{
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    font-size: 2rem;
}
.fa-twitter{
    color: #c6c6c6
}
.fa-facebook{
    color: #c6c6c6;
}
.fa-instagram{
    color: #c6c6c6;
}
.fa-github{
    color: #c6c6c6;
}
.fa-basketball{
    color: #c6c6c6;
}
.fa-google-plus{
    color: #c6c6c6;
}
#bot{
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 1rem;
    color: #dbdcdb;
    margin-top: 15px;
    margin-bottom: 5rem;
}
.line{
    border-right: 2px solid  #dbdcdb;
    padding-right: 24px;
}
#bot > p > a{
    color: #dbdcdb;
    text-decoration: dotted;
}
#bot > p > a >span{
    border-bottom: dotted;
}
#bot > p > a >span:hover{
    border-bottom: none;
}
#icon{
    background-color: white;
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 2rem;
}
#icon>div{
    width: 45%;
    display: inline-block;
    text-align: center;
    padding-top: 5rem;
}
.fa-bolt-lightning{
    color: white;
    background-color:  #e89980;
    font-size: 2.2rem;
    border-radius: 100%;
    padding: 1.7rem 2rem;
}
.fa-chart-area{
    color: white;
    background-color: #7fcdb8;
    font-size: 2.2rem;
    border-radius: 100%;
    padding: 1.8rem 2rem;
}
.fa-cloud{
    color: white;
    font-size: 2.2rem;
    border-radius: 100%;
    background-color: #90b0ba;
    padding: 2rem 1.8rem;
}
.fa-lock{
    color: white;
    font-size: 2.2rem;
    border-radius: 100%;
    background-color: #e5cb95;
    padding: 1.8rem 2rem;
}
#div1 > p{
    font-size: 12px;
}
#div2 > p{
    font-size: 12px;
}
#div3 > p{
    font-size: 12px;
}
#div4 > p{
    font-size: 12px;
}
#div1{
    position: relative;
    border-right: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
    top: 6px;
    left: 4.3px;
}
#div4{
    border-top: 2px solid #e5e5e5;
    border-left: 2px solid #e5e5e5;

}
#card{
    width: 70%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 4rem;
}
#card> div{
    width: 48%;
    background-color: white;
    text-align: center;
    padding-bottom: 3rem;
    border-radius: 5px;
}
#card> div>img{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
#card> div>p{
    padding-bottom: 1rem;
    font-size: 12px;
}
@media(max-width:600px){
    
    body{
        background-size: 170%;
        background-position-x: center;
    }
    nav{
        display: none;
    }
    #mob-btn{
        display: inline-block;
        background-color: gray;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        margin-top: 0.5rem;
        margin-left: 0.5rem;
    }
    #alpha{
        width: 80%;
        margin: auto;
        margin-top: 0rem;
    }
    #alpha > h1{
        font-size: 2.2rem;
    }
    #alpha > p{
        font-size: 1.1rem;
    }
    #alpha > button{
        width: 100%;
        margin-bottom: 1rem;
    }
    #intro{
        width: 100%;
        border-radius: 0px;
        margin-top: 0rem; 
    }
    #intro>h1{
        font-size: 1.5rem;
    }
    #intro > p{
        width: 90%;
    }
    br{
        display: none;
    }
    #signup{
        margin-bottom: 0rem;
        padding-bottom: 0rem;
    }
    #signup > h1{
        padding-bottom: 0px;
    }
    #signup > p{
        padding-bottom: 0px;
    }
    #signup > input{
        display: block;
        align-items: center;
        width: 80%;
        margin-left: 10%;
    }
    #signup > button{
        margin-top: 15px;
        width: 84%;
        margin-left: 4%;
        margin-bottom: 3rem;
    }
    #top{
        margin-top: 50px;
        font-size: 1.5rem;
    }
    #bot{
        display: block;
        text-align: center;
        font-size: 1rem;
        margin-top: 30px;
        margin-bottom: 7rem;
    }


    #icon{
        width: 100%;
        display: block;
        margin-top: 2rem;
    }
    #icon>div{
        width: 100%;
        text-align: center;
        padding-top: 5rem;
    }


    #card{
        width: 100%;
        display: block;
    }
    #card> div{
        width: 100%;
    
    }
    #card>div>button{
        width: 90%;
        height: 4vh;
    }
}